.prim-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  padding-inline: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s ease;
  z-index: 3;
}

.prim-nav.active {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo-container {
  width: 50px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-btn {
  width: 25px;
  cursor: pointer;
}

.cart-container {
  position: relative;
}
.cart-container {
  position: relative;
}

.cart-container p {
  position: absolute;
  bottom: -6px;
  right: -6px;

  background-color: black;
  color: white;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.profile-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 100px;
  background-color: lightslategray;
  margin-block-start: 1rem;
  left: -400%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
}

.profile-container:where(:hover, :focus-visible) .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu a:where(:hover, :focus-visible) {
  color: lightskyblue;
}
