/* Add container with relative positioning */
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f4f8;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  display: grid;
  place-items: center;
  width: 300px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.login-form h2 {
  pointer-events: none;
  margin-bottom: 0.5rem;
}

.form-item {
  width: 100%;
  display: grid;
  gap: 0.1rem;
  margin-block-start: 1rem;
}

.form-item label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.login-form input {
  padding-inline: 0.5rem;
  border: none;
  border: 1px solid black;
  border-radius: 0.1rem;
  height: 27px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.login-form input:focus {
  outline: 2px solid #4caf50;
  outline-offset: 2px;
}

.login-form button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 700;
  border: none;
  padding-block: 0.5rem;
  margin-block-start: 1rem;
  width: 100%;
  transition: 0.4s ease;
}

.login-form button:where(:hover, :focus-visible) {
  background-color: rgba(0, 0, 0, 0.796);
  transform: translateY(-2px);
}

.login-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
}
