.cart-title-container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  margin-inline-start: 2rem;
}

.product-img-container {
  max-height: 100px;
  max-width: 100px;
  width: 100%;
  height: 100%;
}

.product-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin-block-start: 2rem;
  align-items: center;
}

.cart-total {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-inline-end: 2rem;
}

.delete-cartitem-btn {
  width: 30px;
  height: 30px;
}

.po-btn {
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 0.5rem 3rem;
  margin-block-start: 1rem;
  width: 100%;
}

.po-btn:where(:hover, :focus-visible) {
  background-color: white;
  color: black;
  border: 1px solid black;
}
