.seperate {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.product-images-container {
  margin-block-start: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
}

.img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-holder:nth-of-type(1) {
  grid-column: span 2;
}

.img-holder:nth-of-type(4) {
  grid-column: span 2;
}

.product-information {
  margin-block-start: 2.8rem;
}

.product-information h3 {
  font-size: 3rem;
  text-align: left;
  padding-inline-start: 1rem;
}

.product-desc {
  font-size: 1.2rem;
  padding-inline: 1rem;
  text-align: left;
  line-height: 1.6;
}

.sizes-container {
  margin-inline-start: 1rem;
  margin-block-start: 1rem;
}

.size-btn {
  padding: 1rem;
  cursor: pointer;
  background-color: lightgray;
  font-weight: 700;
  border-radius: 0.5rem;
  color: white;
  transition: 1s ease;
}

.size-btn:where(:hover, :focus-visible) {
  background-color: black;
  color: white;
}

.size-btn.active {
  background-color: black;
  color: white;
}

.atc-btn {
  margin-block-start: 2rem;
  margin-inline-start: 1rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 10px;
}
